.cyclius-calc-container {
  --clr-green: #3f0;
  --clr-red: #f30;
  float: right;
  display: flex;
  gap: .33rem;
}

.cyclius-calc-value {
  display: flex;
  gap: .33rem;
  align-items: center;
}

.cyclius-calc-value::after {
  font-size: .75em;
}

.cyclius-calc-value[data-is-increasing="true"]::after {
  content:'▲';
  color: var(--clr-green);
}

.cyclius-calc-value[data-is-increasing="false"]::after {
  content:'▼';
  color: var(--clr-red);
}

.cyclius-calc-bis[data-is-best="false"] {
  visibility: hidden;
}
